<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lf3o3opAAAAAH0GHlp_LuajXdK_Ur8HCR8_vLqX"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="<%= faviconPath %>" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/styles/head-login.css">
    <script src="/scripts/login-header-image.js" defer></script> 
    <script src="https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/scripts/base.js" defer></script> 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/styles/common-fuctions-forms.css">
    <script src="https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/scripts/common-funtions-forms.js" defer></script> 

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/styles/login.css">
    <script src="<%= scriptLoginURL %>" defer></script> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3/animate.min.css">

</head>
    <body>
        <header id="header-login">
            <%- headLoginHTML %>
        </header>
        <main>
            <%- bodyLoginHTML %>
        </main>
    </body>
</html>