
<footer>
  <nav>
      <ul>
          <li><a href="https://www.hidralab.com">&copy; 2024 Hidralab Ingeniería y Desarrollos S.L. Todos los derechos reservados.</a></li>
          <li><a href="#">Conócenos</a></li>
          <li><a href="/contact-us">Contáctenos</a></li>
          <li><a href="https://www.hidralab.com/privacidad.aspx">Privacidad</a></li>
      </ul>
  </nav>
</footer>

  