
<footer>
  <nav>
      <ul>
          <li>&copy; 2024 Hidralab Ingeniería y Desarrollos S.L. Todos los derechos reservados.</li>
          <li><a href="https://www.hidralab.com" target="_blank">Conócenos</a></li>
          <li><a href="/contact-us"  target="_blank">Contáctanos</a></li>
          <li><a href="https://www.hidralab.com/privacidad.aspx"  target="_blank">Privacidad</a></li>
      </ul>
  </nav>
</footer>

  