<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" defer></script>

    <link rel="stylesheet" href="/styles/base.css">

    <title>
        <%= pageTitle %>
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        //const socket = io('http://localhost:3002'); //Desarrollo
        const socket = io('https://hidrasmart-irrigationsystem.azurewebsites.net/'); //Producción

        // Enviar señales periódicas al servidor para indicar que la ventana está activa
        setInterval(() => {
            socket.emit('active');
        }, 1000); // Enviar señal cada 2 segundos
        // Escuchar el evento 'redirect'
        /*socket.on('redirect', function (destination) {
            console.log('Redirigiendo a:', destination);
            window.location.href = destination; // Redirigir a la ruta especificada
        });

        // Enviar señal al servidor cuando la ventana está activa
        window.addEventListener('focus', function () {
            socket.emit('active');
        });

        // Redirigir a la ruta de logout cuando la ventana se cierre o pierda el foco
        window.addEventListener('blur', function () {
            socket.emit('redirect', '/logout');
        });*/
    </script>