<nav id="navbar">
    <a href="/">
        <img id="logo" src="/images/logo.jpg">
    </a>

    <section>
        <div class="containerHead">
            <h1 id="titulo-comunidad">
                HidraSmart-Irrigation System
            </h1>
            <%- include('session.ejs') %>
        </div>
        <div id="option-selector">
            <div id="icons">
                <span id="icon-home"
                    class="option-menu-icon <% if (navGroup === 0) { %>active<% } else { %>inactive<% } %>"
                    onclick="selectMenu(this)" data-navgroup="0"></span>
                <span id="icon-herramientas"
                    class="option-menu-icon <% if (navGroup === 1) { %>active<% } else { %>inactive<% } %> <% if (navGroup >= 1) { %>left<% } else { %>right<% } %>"
                    onclick="selectMenu(this)" data-navgroup="1"></span>
                <span id="icon-gestores"
                    class="option-menu-icon <% if (navGroup === 2) { %>active left<% } else { %>inactive right<% } %>"
                    onclick="selectMenu(this)" data-navgroup="2"></span>
            </div>
            <div id="option-scroll" class="menu<%= navGroup %>">
                <ul id="nav-inicio-options" class="menu-options">
                    <li><a <% if (navIndex===8) { %> class="active" <% } %> href="/">Panel de aplicaciones</a>
                    </li>
                </ul>
                <ul id="nav-herramientas-options" class="menu-options">
                    <li><a <% if (navIndex===9) { %> class="active" <% } %> href="/mapa-sig">Herramientas
                                Mapa SIG</a></li>
                    <li><a <% if (navIndex===10) { %> class="active" <% } %> href="/visor-datos">Visor de
                                Datos</a></li>
                </ul>
                <ul id="nav-gestor-options" class="menu-options">
                    <li><a <% if (navIndex===12) { %> class="active" <% } %> href="/gestor-equipos">Gestor
                                de Equipos</a></li>
                    <li><a <% if (navIndex===14) { %> class="active" <% } %> href="/gestor-clientes">Gestor de
                                Clientes</a></li>
                    <li><a <% if (navIndex===15) { %> class="active" <% } %> href="/gestor-usuarios">Gestor
                                de Usuarios</a></li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    <section>

    </section>
</nav>