<nav id="navbar">
    <a href="/">
        <img id="logo" src="/images/logo.jpg">
    </a>
    <section>
        <h1 id="titulo-comunidad">
           HidraSmart-Irrigation System
        </h1>
    </section>
</nav>