<aside>
    <div id="social_bar">
        <ul>
            <li>
                <img src="/images/rrss/icon_facebook.png" width="32" height="32">
                <p>
                    <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                </p>
            </li>
            <li>
                <img src="/images/rrss/icon_twitter.png" width="32" height="32">
                <p>
                    <a href="https://twitter.com/" target="_blank">Twitter</a>
                </p>
            </li>
            <li>
                <img src="/images/rrss/icon_instagram.png" width="32" height="32">
                <p>
                    <a href="https://twitter.com/" target="_blank">Instagram</a>
                </p>
            </li>
            <li>
                <img src="/images/rrss/icon_googleplus.png" width="32" height="32">
                <p>
                    <a href="https://plus.google.com/" target="_blank">Google +</a>
                </p>
            </li>
            <li>
                <img src="/images/rrss/icon_youtube.png" width="32" height="32">
                <p>
                    <a href="http://www.youtube.com/" target="_blank">YouTube</a>
                </p>
            </li>
        </ul>
    </div>
</aside>