.popup_overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: fadeIn 0.3s ease;
}

.popup_content {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: slideIn 0.3s ease;
}

.popup_header {
  display: flex;
  justify-content: center; /* Mantiene el texto centrado */
  align-items: center;
  padding: 15px 40px 15px 20px; /* Añade padding a la derecha para el botón */
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 18px;
  position: relative; /* Permite posicionar el botón absolutamente */
}

.popup_body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.popup_footer {
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  text-align: right;
}

.popup_close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #999;
  transition: color 0.2s ease;
  position: absolute; /* Posiciona el botón fuera del flujo */
  right: 15px; /* Alinea al borde derecho */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta la posición vertical */
}

.popup_close:hover {
  color: red;
}
.expandExtraLarge {
  width: 83vw !important;
  height: 83vh !important;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}