<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/socialbar.css">
    <link rel="stylesheet" href="/styles/conocenos.css">
    <script src="/scripts/navbar.js" defer></script>
</head>
<body>
    <aside>
        <%- include('../components/common/rrss.ejs') %>
    </aside>
    <header>
        <%- include('../components/common/navbar.ejs') %>
    </header>
    <main>
        <h2 class="titulo_seccion">
            <p>Nuestra Comunidad</p>
        </h2>
        <section id="conocenos">
            <img class="image_conocenos" src="/images/conocenos/imagen_1.jpg" hspace="5" vspace="5" />
            <p>     La Comunidad de Regantes Hidralab se encuentra ubicada en la zona de Ciudad Real, en la región de Castilla-La Mancha. Esta comunidad se estableció con el objetivo de gestionar eficientemente el uso del agua en el riego agrícola en la zona.
    
    La zona de Ciudad Real cuenta con un clima mediterráneo continental, con una precipitación media anual de 350 mm y una temperatura media anual de 16ºC. La disponibilidad de agua es un desafío importante debido a las condiciones climáticas y la escasez de lluvias.

    Hidralab fue fundada en el año 1965 con el propósito de aprovechar los recursos hídricos disponibles en la zona. A través de la colaboración con las autoridades locales y regionales, la comunidad ha obtenido derechos de uso de agua proveniente de fuentes como ríos, pozos y embalses cercanos.

    Actualmente, Hidralab abarca una superficie regable de 10.000 hectáreas y cuenta con una amplia base de agricultores asociados. La comunidad opera en los términos municipales de Ciudad Real, así como en otras localidades cercanas, brindando servicios a los agricultores de la región.

    Con el fin de mejorar la eficiencia en el uso del agua y promover una agricultura sostenible, Hidralab ha llevado a cabo un proceso de modernización en varias etapas. Este proyecto de modernización se ha desarrollado desde 2005 hasta la actualidad, con una inversión total de 15 millones de euros.

    La modernización de Hidralab ha implicado la implementación de tecnologías avanzadas de riego, como sistemas de riego por goteo y aspersión, así como la adopción de prácticas de manejo del agua más eficientes. Además, se han instalado sensores y medidores para monitorear y controlar el consumo de agua en tiempo real.

    Como resultado de estas mejoras, los agricultores asociados a Hidralab han logrado aumentar la productividad de sus cultivos, reducir el consumo de agua y disminuir los costos de producción. Además, se ha promovido la implementación de técnicas de agricultura de precisión para maximizar el rendimiento y minimizar los impactos ambientales.

    La Comunidad de Regantes Hidralab trabaja en estrecha colaboración con las autoridades locales y otros actores relevantes en el sector agrícola para garantizar una gestión sostenible del agua y promover el desarrollo económico de la región. También ofrece asesoramiento técnico y apoyo a los agricultores en temas relacionados con el riego, la conservación del agua y la adopción de prácticas agrícolas responsables.

    En resumen, la Comunidad de Regantes Hidralab en la zona de Ciudad Real es una organización dedicada a la gestión eficiente del agua en el riego agrícola. A través de su enfoque en la modernización y la implementación de tecnologías avanzadas, 'Hidralab' se esfuerza por asegurar un uso responsable del agua, promover la sostenibilidad ambiental y mejorar la productividad agrícola en la región de Ciudad Real. 
            </p>
        </section>
    </main>
</body>
</html>