<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/socialbar.css">
    <script src="/scripts/navbar.js" defer></script>
    <script src="/scripts/gestor-cultivos.js" defer></script>
    <link rel="stylesheet" href="/styles/gestor-cultivos.css">
    </head>
    <body>
        <main>
            <div class="container">
                <h1>¡Página en Construcción!</h1>
                <p>Estamos trabajando en esta página. Por favor, vuelve más tarde.</p>
                <img src="/images/construction.jpg" alt="Página en Construcción">
            </div>
        </main>
        <%- include('../components/common/footer.ejs') %>
    </body>
    </html>