<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/socialbar.css">
    <script src="/scripts/navbar.js" defer></script>
    <script src="/scripts/gestor-cultivos.js" defer></script>
    <link rel="stylesheet" href="/styles/gestor-cultivos.css">
    </head>

    <body>
        <main>
            <h2 class="titulo_seccion">
            </h2>
            <div class="tab-labels">
                <div class="tab-label active" data-tab="cultivos" onclick="showTab('cultivos')">Cultivos
                </div>
                <div class="tab-label" data-tab="demandas" onclick="showTab('demandas')">Demandas</div>
                <!-- Agrega más pestañas según sea necesario -->
            </div>
            <!-- Contenido de las pestañas -->
            <div class="tab-content active" id="cultivos">
            </div>
            <div class="tab-content" id="demandas">
            </div>
        </main>
        <%- include('../components/common/footer.ejs') %>
    </body>

    </html>