<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/socialbar.css">
<script src="/scripts/navbar.js" defer></script>

<link rel="stylesheet" href="/styles/gestor_riegos.css">
</head>

<body>
    <header>
        <%- include('../components/common/navbar.ejs') %>
    </header>
    <main>
        <!--<h2 class="titulo_seccion">
            <p>Gestor de Riegos</p>
        </h2>-->
        <div>
            <img id="gestor-riegos-placeholder" src = "/images/gestor-riegos/wip-placeholder.png">
        </div>
    </main>
</body>