<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/socialbar.css">
    <script src="/scripts/navbar.js" defer></script>
    <script src="/scripts/info-meteo.js" defer></script>
    <link rel="stylesheet" href="/styles/info-meteo.css">
    </head>
    <body>
        <main>
            <%- include('../components/info-meteo/map-view.ejs', { todosLosContadores: todosLosContadores }) %>
                <%- include('../components/common/footer.ejs') %>
        </main>
    </body>
    </html>