<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/socialbar.css">
  <link rel="stylesheet" href="/styles/slider_presentation.css">
  <script src="/scripts/navbar.js" defer></script>
  <script src="/scripts/slider_presentacion.js" defer></script>
  </head>
  <body>
    <aside>
      <%- include('../components/common/rrss.ejs') %>
    </aside>
    <header>
      <%- include('../components/common/navbar.ejs') %>
    </header>
    <%- include('../components/inicio/slider_presentacion.ejs', { imagenesPresentacion: imagenesPresentacion }) %>
  </body>
  </html>