<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/socialbar.css">
  <script src="/scripts/navbar.js" defer></script>

  <script src="https://code.highcharts.com/highcharts.js" defer></script>
  <script src="https://code.highcharts.com/modules/sankey.js" defer></script>
  <script src="https://code.highcharts.com/modules/organization.js" defer></script>
  <script src="https://code.highcharts.com/modules/exporting.js" defer></script>
  <script src="https://code.highcharts.com/modules/accessibility.js" defer></script>
  <script src="/scripts/highchart_organizacion.js" defer></script>

  <link rel="stylesheet" href="/styles/juntagobierno.css">
</head>
<body>
<aside>
    <%- include('../components/common/rrss.ejs') %>
</aside>
<header>
    <%- include('../components/common/navbar.ejs') %>
</header>
<main>
    <h2 class="titulo_seccion">
        <p>Junta de Gobierno</p>
    </h2>
    <div id="highchart-organizacion" >
    </div>
</main>
</body>
</html>