<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/socialbar.css">
    <script src="/scripts/navbar.js" defer></script>

    <link rel="stylesheet" href="/styles/mapa.css">
</head>
<body>
<aside>
    <%- include('../components/common/rrss.ejs') %>
</aside>
<header>
    <%- include('../components/common/navbar.ejs') %>
</header>
<main>
    <h2 class="titulo_seccion">
        <p>Mapa</p>
    </h2>
    <div id="static-map">
        <img src="/images/mapa/map_argamasilla_de_alba.png">
    </div>
</main>
</body>
</html>