<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="/scripts/navbar.js" defer></script>

    <!-- <link rel="stylesheet" href="/styles/panel_aplicaciones.css"> -->

    <link rel="stylesheet" href="/styles/application-panel/application-panel.css">
        
    <script src="/scripts/application-panel/application-panel.js" defer></script>

    </head>

    <body>
        <main>
          <h2 class="titulo_seccion">
            </h2>
            <div  class="container_application_panel">
                <div id="drag-container">
                    <div id="spin-container">
                        <!-- Add your images (or video) here -->
                        <a class="carousel_card" href="">
                            <img
                            src="/images/tramitacion-procedimientos/registro_general_white.png"
                            alt=""
                            />
                        </a>
                        <a class="carousel_card" href="/visor-datos">
                            <img
                            src="/images/tramitacion-procedimientos/gestion_propietarios_white.png"
                            alt=""
                            />
                        </a>
                        <a class="carousel_card" href="/visor-datos">
                            <img
                            src="/images/tramitacion-procedimientos/registro_general_white.png"
                            alt=""
                            />
                        </a>
                        <a class="carousel_card" href="/mapa-sig">
                            <img
                            src="/images/tramitacion-procedimientos/gestion_regantes_white.png"
                            alt=""
                            />
                        </a>
                        <a class="carousel_card" href="/visor-datos">
                            <img
                            src="/images/tramitacion-procedimientos/authorization_works_white.png"
                            alt=""
                            />
                        </a>
                        <a class="carousel_card" href="/visor-datos">
                            <img
                            src="/images/tramitacion-procedimientos/gestion_propietarios_white.png"
                            alt=""
                            />
                        </a>
                        <!-- Text at center of ground -->
                        <div class="img_centro">
                            <a href="simulador">
                                <img
                                src="/images/SelectorAplicaciones/h-hidralab.png"
                                alt=""
                                />
                            </a>
                        </div>
                    </div>
                    <div id="ground"></div>
                </div>
            </div>
            <!-- <div class="container_cards" id="container-cards">
                <div class="card card_overall_record float_card" id="card-overall-record">
                    <div class="card_body_container">
                        <p class="title_float_card_gray">
                            Bienvenido <%=user %><br>
                                <img class="card_image"
                                    src="/images/tramitacion-procedimientos/registro_general_white.png">
                        </p>
                        <div class="sub_container_cards sub_container_cards_owner_management">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_overall_record float_sub_card" id="sub-card-overall-record-1">
                                <p class="title_float_card">
                                    Mi perfil
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_owner_management float_card" id="card-owner-management">
                    <div class="card_body_container">
                        <p class="title_float_card">
                           Información meteorológica<br>
                            <img class="card_image"
                                src="/images/tramitacion-procedimientos/gestion_propietarios_white.png">
                        </p>
                        <div class="sub_container_cards sub_card sub_container_cards_owner_management">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_owner_management float_sub_card"
                                id="sub_card-owner_management">
                                <p class="title_float_card" onclick="window.location.href = '/visor-datos';">
                                    Acceder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_overall_record float_card" id="card-overall-record">
                    <div class="card_body_container">
                        <p class="title_float_card">
                            Estado de la red<br>
                            <img class="card_image" src="/images/tramitacion-procedimientos/registro_general_white.png">
                        </p>
                        <div class="sub_container_cards sub_container_cards_owner_management">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_overall_record float_sub_card" id="sub-card-overall-record-1">

                                <p class="title_float_card" onclick="window.location.href = '/visor-datos';">
                                    Acceder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_irrigation_management float_card" id="card-irrigation-management">

                    <div class="card_body_container">
                        <p class="title_float_card">
                            Visor<br>
                            <img class="card_image" src="/images/tramitacion-procedimientos/gestion_regantes_white.png">
                        </p>
                        <div class="sub_container_cards sub_container_cards_irrigation_management">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_irrigation_management float_sub_card"
                                id="sub-card-irrigation-management-1">
                                <p class="title_float_card" onclick="window.location.href = '/mapa-sig';">
                                    Acceder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_authorization_works float_card" id="card-authorization-works">
                    <div class="card_body_container">
                        <p class="title_float_card">
                            Gestor de demandas y cultivos<br>
                            <img class="card_image"
                                src="/images/tramitacion-procedimientos/authorization_works_white.png">
                        </p>
                        <div class="sub_container_cards sub_container_cards_authorization_works">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_authorization_works float_sub_card"
                                id="sub_card-authorization-works">
                                <p class="title_float_card" onclick="window.location.href = '/visor-datos';">
                                    Acceder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_owner_management float_card" id="card-owner-management">
                    <div class="card_body_container">
                        <p class="title_float_card">
                            Planificador de riego<br>
                            <img class="card_image"
                                src="/images/tramitacion-procedimientos/gestion_propietarios_white.png">
                        </p>
                        <div class="sub_container_cards sub_card sub_container_cards_owner_management">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit "</p>
                            <div class="sub_card sub_card_owner_management float_sub_card"
                                id="sub_card-owner_management">
                                <p class="title_float_card" onclick="window.location.href = '/visor-datos';">
                                Acceder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <%- include('../components/common/footer.ejs') %>
        </main>
    </body>

    </html>