
/* Estilos para el footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary-400);
  color: #fff;
  text-align: center;
  padding: 1px;
  font-size: 1.35vh;
  height: 3.3vh;
  
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 1800px) {
  footer {
    font-size: 1.65vh;
    height: 4vh;
  }
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 20px; /* Espacio entre opciones */
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}