main {
    margin-bottom: 50px;
}

main>div {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    /*max-height: 70%;*/
}

/**ESTADO DE LA RED**/
/* Estilos para las pestañas */
.tab {
    display: none;
}

.tab-labels {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    /* Tamaño del texto pequeño */
    font-weight: 900;
}

.tab-label {
    flex: 1;
    padding: 3px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab-content {
    display: none;
    height: 73vh;
    /* Altura predeterminada para pantallas medianas */
    /*background-color: #007bff;*/
}


/* Ajustes para pantallas muy pequeñas */
@media (max-width: 1800px) {
    .tab-content {
        height: 70vh;
        /* Altura predeterminada para pantallas medianas */
    }
}

/* Estilo activo para la pestaña seleccionada */
.tab-label.active {
    background-color: #a3a4a6;
}

.tab-content.active {
    display: block;
}