#gestor-equipos-placeholder {
  width: 89vw;
}

main > div {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  max-height: 70%;
}
  
.div-container {
  width: 85%;
  margin:auto;
}

.table-container {
  height: 100%;
  width: 90%;
  max-height: 65vh;
  margin: auto;
  overflow-y: scroll;
  border: 2px solid var(--color-primary-400);
  border-radius: 5px;
}

.table-container::-webkit-scrollbar {
  width: 0.5vw;
}

.table-container::-webkit-scrollbar-track {
  background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.5vw;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

#table {
  width: 100%;
  table-layout: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

.table-container table {
  width: 100%;
  height: 100%;
}

.table-container th {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-400);
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-container tbody tr:nth-child(even) {
  background-color: #e4e4e4;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #fff;
}

td.acciones {
  width: 10rem;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  word-break: break-word;
  font-size: 0.8rem;
}

#add-record-button {
  font-size: 1.2rem;
  border: none;
  background-color: #27b5f1;
  color: white;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.table-container th.actions_th,
.table-container td.actions {
  width: 5.5vw;
}

.actions {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: fit-content;
}

.actions button {
  padding: 5px;
  border: none;
  background-color: var(--color-primary-500);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 0.2vw;
}

.actions button:active {
  transform: scale(0.9);
}
/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

.pagination a:hover {
  background-color: #ddd;
}

/* Estilo para el contenedor de la paginación */
.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Estilo para la etiqueta "Página:" */
.pagination label {
  font-weight: bold;
  margin-right: 10px;
}

/* Estilo para el selector de páginas */
#page-selector {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #27b5f1;
}

/* Estilo para las opciones del selector */
#page-selector option {
  font-size: 16px;
  background-color: #fff;
  color: #27b5f1;
}

/* Estilos para las pestañas */
.tab {
  display: none;
}

.tab-labels {
  display: flex;
  margin-bottom: 20px;
}

.tab-label {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-content {
  display: none;
  height: 100vw;
}

/* Estilo activo para la pestaña seleccionada */
.tab-label.active {
  background-color: #ddd;
}

.tab-content.active {
  display: block;
}

/* Estilos para el select */
.select-mod {
  /*appearance: none;*/ /* Elimina el estilo nativo del sistema operativo */
  /*-webkit-appearance: none;*/ /* Para navegadores basados en WebKit como Chrome y Safari */
  /*-moz-appearance: none;*/ /* Para navegadores basados en Gecko como Firefox */
  padding: 4px 6px; /* Añade relleno alrededor del texto */
  border: 1px solid #ccc; /* Añade un borde */
  border-radius: 2px; /* Añade esquinas redondeadas */
  background-color: #fff; /* Fondo blanco */
  font-size: 0.8vp; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

/* Estilos para la flecha desplegable */
.select-mod::after {
  content: '\25BC'; /* Flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que la flecha sea seleccionable */
}
/*Estilos para el formulario*/

/* Estilos específicos para el formulario con el identificador "usuariosForm" */
#usuariosForm.custom-form .form-row {
  display: flex;
  justify-content: space-between;
}

#usuariosForm.custom-form .form-group {
  flex: 1;
  margin-bottom: 20px;
}

#usuariosForm.custom-form label {
  display: block;
  margin-bottom: 5px;
}

#usuariosForm.custom-form input,
#usuariosForm.custom-form select {
  width: calc(50% - 5px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#usuariosForm.custom-form button {
  padding: 10px 20px;
  background-color: var(--color-primary-400);;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#usuariosForm.custom-form button:hover {
  background-color: var(--color-primary-300);
}

/* Estilos específicos para el formulario con el identificador "rolesForm" y la clase "custom-form" */
/* Estilos específicos para el formulario con el identificador "rolesForm" y la clase "custom-form" */
#rolesForm.custom-form .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#rolesForm.custom-form .form-group {
  flex-basis: calc(50% - 10px); /* Ancho del 50% del contenedor menos el espacio entre los campos */
}

#rolesForm.custom-form label {
  display: block;
  margin-bottom: 5px;
}

#rolesForm.custom-form input,
#rolesForm.custom-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#rolesForm.custom-form button {
  padding: 10px 20px;
  background-color: var(--color-primary-400);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#rolesForm.custom-form button:hover {
  background-color: var(--color-primary-300);
}
/*Clase para los botones*/

.btn {
  padding: 2px 6px;
  font: inherit;
  background-color: var(--color-primary-400);
  color: var(--color-primary-contrast);
  border-radius: 3px;
  border: none;
  margin: 10px 5px;
}

.btn:hover {
  background-color: var(--color-primary-300);
}