#social_bar {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -130px;
  top: 230px;
  width: 210px;
  z-index: 1100;
}

#social_bar ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#social_bar li {
  list-style-type: none;
  background-color: #fff;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
#social_bar li:hover {
  margin-left: -115px;
}
#social_bar li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}
#social_bar li p {
  padding-top: 5%;
  margin: 0px;
  line-height: 50%;
  font-size: 1.4rem;
}
#social_bar li p a {
  text-decoration: none;
  color: #2c3539;
}
#social_bar li p a:hover {
  text-decoration: underline;
}
