<section id="noticias">
    <ul id="slides-news">
        <% for (let noticia of noticias) { %>
            <li>
                <img class="imagen_noticia_slider" src="<%= noticia.image %>" hspace="5" vspace="5"/>
                <p id="fecha-noticia">
                    <%= noticia.date %>
                </p>
                <h2 class="titulo_noticia_slider" id="titulo-noticia">
                    <%= noticia.title %>
                </h2>
                <p class="cuerpo_noticia_slider">
                    <%= noticia.body %>
                </p>
            </li>
        <% } %>
    </ul>
</section>